.panels-flexible-column-11-main {
  float: left;
  width: 99%;
}

.panel-flexible-11-inside {
  padding-left: 0px;
  padding-right: 0px;
}

.panels-flexible-region-11-center {
  float: left;
  width: 99%;
}

.panels-flexible-row-11-main-row-inside {
  padding-left: 0px;
  padding-right: 0px;
}

